@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --first-color:#1f5773;
    --second-color:rgb(37, 150, 190);


    // font var 
    --primary-font:"Nunito Sans";
    --secondary-font:"Comfortaa";

}
